:root {
  --primary-CTA: #e4ffa6;
  --secondary-CTA: #ffb6b9;
  --background-color: #f5f5f5;
  --text-color: #333;
}
*{
  padding: 0;
  margin: 0;
}
html{
  /* font-size: 1rem; */
  margin: 1rem;
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--primary-CTA);
  padding: 0.5rem 1rem;
  border-radius: 14px;
}

a{
  text-decoration: none;
  color: inherit;
}
em{
  background-color: var(--secondary-CTA);
  color: whitesmoke;
}
nav{
  margin-bottom: 1rem;
}
ul{
  display: flex;
  gap: 1rem;
}
ul>li{
  list-style: none;
  border-radius: 14px;
}

.active{
  background-color: var(--primary-CTA);
  border-radius: 14px;
  padding: 0.5rem;
}
.posts{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 4750px){
  *{
    font-size: 18px;
  }
  
}