{{define "index.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tech Trends</title>
  <link rel="stylesheet" href="/static/global.css">
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>

<body>
  {{template "header.html" .}}
  <main>
    <h1>Home</h1>
    <p>Welcome to Tech Trends.</p>
    <!-- This page is going to be treated as the main dashboard for displaying tech trends -->
    <!-- a dashboard fragment will be used to display the trends, in-turn will contain cards/banners with trend information  and graphs -->
    <button hx-on:click="alert('Coming soon!')">Past Week Stats</button>
  </main>
</body>

</html>
{{end}}