{{define "newsfeed.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News Feed</title>
  <link rel="stylesheet" href="/static/global.css">
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>

<body>
  {{template "header.html" .}}
  <main>
    <!-- will eventually be converted to a news feed for today from the DB using a materialized view for today -->
    <h1><u>News Feed </u></h1>
    <ul class="posts">
      {{range .NewsItems}}
      <li>
        <div>
          <h2>{{.Title}}</h2>
          <div style="margin-bottom: 1rem;">
            <time>{{.Published}}</time>
          </div>
          <p>{{.Description}}</p>
          <div style="display: flex;justify-content: end;margin-right: 20px;">
            <a class="feed-link" href="{{.Link}}" target="_blank">Read more</a>
          </div>
        </div>
      </li>
      {{end}}
    </ul>
  </main>
</body>

</html>
{{end}}