{{define "newsfeed.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News Feed</title>
  <link rel="stylesheet" href="/static/global.css">
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>

<body>
  {{template "header.html" .}}
  <main>
    <!-- will eventually be converted to a news feed for today from the DB using a materialized view for today -->
    <h1>News Feed</h1>
    <ul class="posts">
      {{range .NewsItems}}
      <li>{{.ID}}. {{.Title}}</li>
      {{end}}
    </ul>
  </main>
</body>

</html>
{{end}}