{{define "pastweekstats.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Past Week Stats | Tech Trends</title>
  <link rel="stylesheet" href="/static/global.css">
</head>

<body>
  {{template "header.html" .}}
  <main>
    <h1>Past Week Stats</h1>
    <p>Trend data for the past week will appear here.</p>
    <!-- Cards /banners which has {title, small summary, growth rate number, either a +/ up OR -/ down symbol}  -->
    <!-- similar on the main(index.html) page, treating each emerging/ trending topic as a stock-->
  </main>
</body>

</html>
{{end}}